@page "/dashboard"
@using My_Task_.Client.Shared;
<div class="dashboard">
    <div class="calendar-top">
        <div class="calendar-top-filter">
            <div class="year-month">
                <p class="month">July</p>
                <p class="year">2023</p>
            </div>
        </div>
    </div>
    <div class="kanban-container">
        <div></div>
    </div>
</div>
