
.dashboard{
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 100%;
}
.calendar-top {
    background-color: #212121;
    padding: .8rem;
}

    .calendar-top p {
        font-weight: bold;
        margin: 0;
        color: whitesmoke;
        font-size: .9rem;
        color: #E4E4E4;
        line-height: 1;
    }

    .calendar-top .month {
        font-size: 1.5rem;
        margin-right: .6rem;
        color: #E4E4E4;
    }

    .calendar-top .year, .filter-count-description {
        opacity: 60%;
    }
