/* /Mainlayout.razor.rz.scp.css */
.body[b-8alhisl2xs] {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-body[b-8alhisl2xs] {
    background-image: url("background.svg");
    background-size: cover;
    flex: 1;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
}
.left-body .body[b-8alhisl2xs]{
    height:100vh;
    width: 100%;
    flex: 1;
}
/* /Pages/DashBoard.razor.rz.scp.css */

.dashboard[b-8gvzhaf0bo]{
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 100%;
}
.calendar-top[b-8gvzhaf0bo] {
    background-color: #212121;
    padding: .8rem;
}

    .calendar-top p[b-8gvzhaf0bo] {
        font-weight: bold;
        margin: 0;
        color: whitesmoke;
        font-size: .9rem;
        color: #E4E4E4;
        line-height: 1;
    }

    .calendar-top .month[b-8gvzhaf0bo] {
        font-size: 1.5rem;
        margin-right: .6rem;
        color: #E4E4E4;
    }

    .calendar-top .year[b-8gvzhaf0bo], .filter-count-description[b-8gvzhaf0bo] {
        opacity: 60%;
    }
/* /Pages/Index.razor.rz.scp.css */

.calendar[b-cn45ryekfj] {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgba(128, 128, 128, .4);
}

.calendar-top[b-cn45ryekfj] {
    background-color: #212121;
    padding: .8rem;
    display: flex;
    align-items: center;
    z-index: 5 !important;
}


    .calendar-top p[b-cn45ryekfj] {
        font-weight: bold;
        margin: 0;
        padding: 0;
        color: whitesmoke;
        font-size: .9rem;
        line-height: 1;
        color: #E4E4E4;
    }

    .calendar-top .month[b-cn45ryekfj] {
        font-size: 1.5rem;
        margin-right: .6rem;
        color: #E4E4E4;
        line-height: 1;
    }

    .calendar-top .year[b-cn45ryekfj], .filter-count-description[b-cn45ryekfj] {
        opacity: 60%;
    }

.calendar-top-filter[b-cn45ryekfj] {
    flex: 1;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.year-month[b-cn45ryekfj] {
    display: flex;
    align-items: center;
}

.filter-count[b-cn45ryekfj] {
    display: flex;
    color: white;
    align-items: center;
}

.filter-name[b-cn45ryekfj] {
    height:1.8rem;
    display: flex;
    margin-left: 1rem;
    border-radius: 5px;
    background-color: #959595;
    padding: 0 .5rem;
    align-items: center;
}

.filter-name p[b-cn45ryekfj] {
    line-height: 1.8rem;
    font-size: .8rem;
    font-weight: normal;
    margin: 0;
}

.show-filters[b-cn45ryekfj]{
    height:10px;
    width:19px;
    position: relative;
    margin-top: -10px;
    margin-left: 5px;
}
.filter-count-description[b-cn45ryekfj] {
    font-weight: 100;
}

.calendar-dates[b-cn45ryekfj] {
    margin-top: .8rem;
    height: 0rem;
    background-color: #4B4B4B;
    border-radius: 10px;
}

.task-category-main[b-cn45ryekfj] {
    display: flex;
    height: 2.2rem;
    color: white;
    align-items: center;
    padding: 0 .5rem;
    z-index: 5;
    background-color: rgba(46, 45, 45, .8);
}

.task-category-main p[b-cn45ryekfj] {
    font-size: .9rem;
    font-family: 'Microsoft Tai Le';
    margin: 0;
    opacity: 50%;
    margin-right: 1rem;
    font-size:.9rem;
    line-height: 1;
    padding: 0;
}

.task-category[b-cn45ryekfj] {
    width: 20px;
    flex: 1;
    display: flex;
    padding: .4rem 0;
    justify-content: space-evenly;
}

.bar[b-cn45ryekfj]{
    width:1.5px;
    height:1.2rem;
    border-radius: .5px;
    background-color: aliceblue;
    opacity: 50%;
}

.task-category .bar:first-child[b-cn45ryekfj]{
    display:none;
}
.task-container[b-cn45ryekfj]{
    display:flex;
    flex:1;
    flex-direction: column;
    position:relative;
    background-color: rgb(128, 128, 128,.4);
}
.task-content[b-cn45ryekfj] {
    flex: 1;
    display: grid;
    grid-template-rows: auto;
    margin-left: 3.8rem;
    margin-top: -2.15rem;
    overflow: auto;
    justify-content: space-evenly;
    z-index: 1;
}

.task-content-sub[b-cn45ryekfj] {
    height: calc(100vh - 2.35rem);
    overflow: auto;
    padding-top: 3rem;
}

.item[b-cn45ryekfj] {
    border-radius: 1rem;
    background: linear-gradient(0.34deg, rgba(249, 150, 233, .7) 0%, rgba(207, 81, 178, .7) 100%);
    padding: .5rem .5rem 1rem;
    margin: 0 2.5rem 2rem;
    cursor: pointer;
}

.top[b-cn45ryekfj] {
    display: flex ;
    align-items: center;
    color: #DB19A8;
}

.item-icon[b-cn45ryekfj]{
    width: 2.5rem;
    height: 2.5rem;
    background: green;
    border-radius: .5rem;
    background-color:currentColor;
}
.item-name[b-cn45ryekfj] {
    font-size: 1rem;
    line-height:1;
}

.item-field-top[b-cn45ryekfj]{
    margin-left:1.5rem;
    font-weight: bold;
}

.date[b-cn45ryekfj]{
    font-size: .8rem;
}

.item p[b-cn45ryekfj]{
    margin:0;
    line-height:1.2;
}
.item-description[b-cn45ryekfj] {
    font-size: .8rem;
    padding: 0 5px;
    font-weight: 500;
    color: #FBCFF1;
    margin-top: 2rem;
}


/* /Shared/AddTask.razor.rz.scp.css */
.maintain[b-3s19pmr1kc]{
    width: 100%;
    height: calc(100vh - 4.2rem);
    display:flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 200;
    background-color:rgba(128, 128, 128,.3);
    backdrop-filter:blur(5px);
}

.add-container[b-3s19pmr1kc] {
    background-color: rgb(59, 59, 59);
    border-radius: 1rem;
    padding: 0rem 1rem 1rem;
    position: absolute;
}
.field-name[b-3s19pmr1kc] {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

}
.close-add-item[b-3s19pmr1kc]{
    position: absolute;
    right:1rem;
    top: .5rem;
    cursor: pointer;
}
.viewbox .field-name[b-3s19pmr1kc] {
    margin-bottom: .8rem;
}
.field-name p[b-3s19pmr1kc] {
    display: flex;
    background-color: rgb(112,112,112);
    line-height: 1.5;
    border-radius: 0 0 .5rem .5rem;
    margin: 0;
    padding: .2rem 2.5rem;
    font-size: 1.2rem;
    font-weight: bolder;
    color: lightgrey;
}

.field-name-small[b-3s19pmr1kc] {
    color: lightgrey;
    padding: 0;
    background-color: transparent;
}

.field-name-small p[b-3s19pmr1kc]{
    font-size: 1rem;
    font-family: 'Microsoft PhagsPa';
    font-weight: 500;
    padding-left:.2rem;
    margin: 0;
    margin:0 0 .4rem 0;
}
.add-category-container[b-3s19pmr1kc]{
    display: flex;
    border-radius: .8rem;
}
.container[b-3s19pmr1kc] {
    background-color: rgb(112,112,112);
    border-radius: 8px;
    padding: 1rem;
    position: relative;
    overflow: hidden !important;
}
.container + .container[b-3s19pmr1kc]{
    margin-left: 1.5rem;
}

.box[b-3s19pmr1kc] {
    width: 15rem;
    min-height: 2.5rem;
    border-radius: .25rem;
    outline: none;
    font-size: 1rem;
    background-color: rgb(158, 158, 158);
    padding: 0 .4rem;
    border: none;
    margin-bottom: 1rem;
    color: lightgrey;
    text-transform: capitalize;
}



.viewbox[b-3s19pmr1kc] {
    background-color: rgb(158, 158, 158);
    padding: 0 .5rem .5rem;
    border-radius: .3rem;
}

.viewbox + .viewbox[b-3s19pmr1kc] {
    margin-top: 1rem;
}

.description[b-3s19pmr1kc]{
    height: 6rem;
}

input:focus[b-3s19pmr1kc]{
    outline:none;
    border: none;
}

#subtast-activated[b-3s19pmr1kc]{
    top: 100%;
}
.date-container[b-3s19pmr1kc] {
    display: flex;
    justify-content: space-between;
    color: green;
    padding: .5rem;
    border-radius: .3rem;
    top: 0%; 
}
.date-container input[b-3s19pmr1kc] {
    line-height: 1.8rem;
    border-radius: .25rem;
    width: 1.8rem;
    height: 1.8rem;
    border: none;
    background-color: rgb(158, 158, 158);
    padding: .4rem;
    margin-left: .5rem;
}

.parent[b-3s19pmr1kc]{
    position: relative;
}

.date-container input:first-child[b-3s19pmr1kc]{
    margin-right: .5rem;
}


.subtask-option[b-3s19pmr1kc] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: lightgrey;
    padding: .5rem 0;
    border-radius: .3rem;
}

.subtask-option-inner[b-3s19pmr1kc] {
    width: 2.6rem;
    height: 1.3rem;
    border-radius: 1.3rem;
    background-color: rgb(158, 158, 158);
    justify-self: center;
    margin: 0 1rem;
}

    .subtask-option-inner .inner-circle[b-3s19pmr1kc] {
        width: 1rem;
        height: 1rem;
        background-color: lightgrey;
        border-radius: 1.5rem;
        margin: .15rem;
        margin-left: 1.45rem;
    }

.click[b-3s19pmr1kc] {
    margin-left: .15rem !important;
    background-color: green;
}

#add-time[b-3s19pmr1kc] {
    display: flex;
    height: 0;
    margin: 0;
}

.time-container[b-3s19pmr1kc] {
    margin-top: 1rem;
}

.time-container input[b-3s19pmr1kc] {
    line-height: 2rem;
    padding: 0 !important;
    font-size: 1.5rem;
    margin: 0 !important;
    background-color: transparent !important;
    position: absolute;
    right: 10%;
    top: 20%;
    color: white;
}

.child-slide-over[b-3s19pmr1kc]{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    margin-left: -1rem;
    background-color: rgb(158, 158, 158, 0.5);
    z-index: 1;
}
.viewbox.child[b-3s19pmr1kc] {
    width: 16rem;
    min-height: 10rem;
    padding: 1rem;
}

.container .button[b-3s19pmr1kc]{
    width: 16rem;
    padding: .1rem;
    line-height: 2rem;
    color: lightgrey;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
}

.done-button[b-3s19pmr1kc] {
    font-family: 'Segoe UI';
    position: absolute;
    bottom: .8rem;
    background-color: #c829bb;
    padding: .5rem 0;
    text-align: center;
    font-weight: bold;
    border-radius: .3rem;
    color: lightgrey;
    z-index: 2;
}

ol[b-3s19pmr1kc],li[b-3s19pmr1kc]{
    margin: 0;
    padding: 0;
    position: relative;
}

li[b-3s19pmr1kc] {
    list-style: none;
}


.mother-box[b-3s19pmr1kc]{
    display: flex;
    align-items: flex-end;
    height: 1.4rem;
    margin-left: .8rem; 
    padding-right: 2rem 0;
    margin-top: .2rem;
}



.adable-item[b-3s19pmr1kc] {
    padding: 0;
    margin: 0;
    color: whitesmoke;
    padding: 0rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    
    z-index: 2;
}

.adable-item p[b-3s19pmr1kc] {
    margin: 0;
    padding: 0;
    flex: 1;
    height: 1.2rem;
    line-height: 1.4rem;
    overflow: hidden;
    word-wrap: revert-layer;
    text-overflow: ellipsis;
}
/*
.adable-item + .adable-item {
    margin-top: 1.5rem;
    margin-bottom: -5rem;
    margin-left: -1rem;
    background-color: green;
}
*/
.pre-box[b-3s19pmr1kc]{
    width: .8rem;
    height: .8rem;
    border: 2px solid lightgrey;
    border-radius: .25rem;
    display: inline-block;
    margin-right: .6rem;

}

.parent.adable-item[b-3s19pmr1kc]{
    font-weight: 500;
    font-size: 1rem;
    padding: .3rem .5rem;
    line-height: 1;
    margin-bottom: .8rem;
    background-color: lightgray;
    border-radius: .4rem;
    color: grey;
    
}

.parent.adable-item .pre-box[b-3s19pmr1kc]{
    border: 2.5px solid grey;
}

.children.adable-item[b-3s19pmr1kc] {
    margin-left: .5rem;
    height: 1.4rem;
    padding: .2rem .5rem;
    color: rgb(216, 216, 216, 0.86);
    background-color: rgb(158, 158, 158);
    border-radius: .3rem;
}
.children:hover[b-3s19pmr1kc] {
    background-color: rgb(211, 211, 211, 0.3) !important;
}

.parent-child-guide[b-3s19pmr1kc] {
    position: absolute;
    width: .6rem !important;
    height: 2rem !important;
    background-color: transparent !important;
    border-left: 1px solid rgb(216, 216, 216, 0.5);
    border-bottom: 1px solid rgb(216, 216, 216, 0.5);
    border-bottom-left-radius: .3rem;
    top: -1.4rem;
    z-index: 1;
}

.remove-child[b-3s19pmr1kc]{
    margin-left: auto;
}
.input-container[b-3s19pmr1kc] {
    position: relative;
    height: 1.8rem;
    width: 1.8rem;
    background-color: rgb(158, 158, 158);
    overflow: hidden;
    border-radius: .25rem;
    margin-left: .5rem;
}

label[b-3s19pmr1kc]{
    display: flex;
    align-items: center; 
}


.hide-parent[b-3s19pmr1kc],.hide-category[b-3s19pmr1kc]{
    display: none;
}

.show-parent[b-3s19pmr1kc]{
    display: block !important;
}


#shrink[b-3s19pmr1kc] {
    height: 0 !important;
    width: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
/* /Shared/Details.razor.rz.scp.css */
.detail-continaer[b-yiy5rw197r] {
    color: whitesmoke;
    background-color: darkgrey;
    position: absolute;
    flex: 1;
    width: 20rem;
    right: .5rem;
    top: 1rem;
    height: calc(100% - 1rem);
    border-radius: 10px;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    box-shadow:rgba(0,0,0,0.1) -10px -5px 50px .2px;
}

.detail-descriptions[b-yiy5rw197r]{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.detail-container p[b-yiy5rw197r], .description-container p[b-yiy5rw197r] {
    margin: 0;
    line-height: 1;
}
.description-container[b-yiy5rw197r], .description-top[b-yiy5rw197r],.description-self[b-yiy5rw197r] {
    background-color: rgb(255, 255, 255,.35);
    border-radius: .8rem;
    padding:.5rem .8rem;
}
.description-container[b-yiy5rw197r]{
    margin-top:20px;
}

.description-top[b-yiy5rw197r]{
    border-radius: .6rem;
    display: inline-flex;
    align-items: center;
}
.description-top p[b-yiy5rw197r]{
    line-height: 1;
}
.description-top[b-yiy5rw197r], .description-self[b-yiy5rw197r] {
    background-color: grey;
}
.description-icon[b-yiy5rw197r]{
    margin-right: 1rem;
    height: 20px;
    display: flex;
    align-items: center;
}
.description-self[b-yiy5rw197r]{
    font-family: 'Yu Gothic UI';
    margin-top: .8rem;
    min-height: 50px;
}
.description-self p[b-yiy5rw197r]{
    line-height: 1.4;
}
.top[b-yiy5rw197r] {
    font-family: 'Microsoft Sans Serif';
    font-weight: bold;
    background-color: rgb(255, 255, 255,.35);
    border-radius: .8rem;
    font-size: 1.1rem;
    display: flex;
    padding: .8rem 1rem;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.close[b-yiy5rw197r]{
    position: absolute;
    right:-6px;
    top: -6px; 
    cursor: pointer;
}
.item-icon[b-yiy5rw197r]{
    width: 2.2rem;
    height:2.2rem;
    border-radius: .3rem;
    background-color: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family:'Microsoft Yi Baiti';
}
.item-name[b-yiy5rw197r]{
    margin:0 auto;
}

.detail-actions[b-yiy5rw197r] {
    font-family: 'Microsoft Sans Serif';
    justify-self: flex-end;
    border-top: 1px solid #F5F5F5;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.detail-done[b-yiy5rw197r], .detail-delete[b-yiy5rw197r]{
    display: flex;
    align-items: center;
}

.done-icon[b-yiy5rw197r], .delete-icon[b-yiy5rw197r]{
    margin-right: .5rem;
}

.color[b-yiy5rw197r]{
    background-color: green;
}
/* /Shared/SideNav.razor.rz.scp.css */
.left-side[b-519zqcx6g3] {
    background-color: #3B3B3B;
    height: 100vh;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.center-flex[b-519zqcx6g3]{
    justify-content:center !important;
    align-items:center;
}

.hidable[b-519zqcx6g3]{
    height:0!important;
    width:0!important;
    font-size: 0!important;
    z-index:-100!important;
    margin:0 !important;
    overflow:hidden;
}

.logo[b-519zqcx6g3] {
    position:relative;
}

.item-collapse[b-519zqcx6g3]{
    width: 20px;
    height: 18px;
    margin-left: 3rem;
    cursor:pointer;
    transform:rotateY(180deg);
}

.arrow-properties[b-519zqcx6g3] {
    position: absolute;
    margin: 0 !important;
    right: -1.8rem;
    transform: rotateY(0deg);
}
.nav-calendar[b-519zqcx6g3], .nav-add[b-519zqcx6g3], .nav-dashboard[b-519zqcx6g3] {
    border-radius: 10px;
    /*padding: 8px;*/
}

.logo-icon[b-519zqcx6g3] {
    width: 35px !important;
    height: 38.227px !important;
}

.nav[b-519zqcx6g3],.logo[b-519zqcx6g3]{
    display:flex;
    align-items:center;
}

.nav[b-519zqcx6g3] {
    margin-top: 1.5rem;
    padding: .5rem;
    cursor: pointer;
}
.nav + .nav[b-519zqcx6g3]{
    margin-top: .4rem;
}
.logo-text[b-519zqcx6g3]{
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight:600;
}
.logo-text[b-519zqcx6g3], .nav-text[b-519zqcx6g3], .sub-nav[b-519zqcx6g3] {
    font-family: 'Microsoft Tai Le';
    color: whitesmoke;
}
.nav .nav-text[b-519zqcx6g3]{
    font-size: .95rem;
    font-weight: 500;
    margin-left: 1rem;
    opacity: 60%;
}
.inline[b-519zqcx6g3] {
    width: 20px !important;
    height: 20px !important;
}

.settings[b-519zqcx6g3] {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: .5rem;
    border-radius: 8px;
    background: grey;
    backdrop-filter:blur(4px)
}
.profile-container[b-519zqcx6g3]{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 5px;
    background-image: url("Sun.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: aliceblue;
    position: relative;
}

.online-status[b-519zqcx6g3] {
    width: 8px;
    height: 8px;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    right: -2px;
}

.details-settings p[b-519zqcx6g3] {
    line-height: 1;
    font-size: .8rem;
    font-family: 'Segoe UI Symbol';
    color: white;
    margin: 0;
    margin-left: 5px;
}

.details-settings p:last-child[b-519zqcx6g3] {
    color: whitesmoke;
    opacity:45%;
}

.settings-icon[b-519zqcx6g3]{
    width: 25px;
    height: 25px;
    margin-left:auto;
}


.sub-nav[b-519zqcx6g3]{
    border-top:1.5px solid rgba(246,246,246,0.2);
    margin-top: 1.5rem;
    padding-top: .4rem;
    flex:1;
    color:lightgrey;
    font-size:1rem;
}

.nav:hover[b-519zqcx6g3]{
    background-color: rgba(246,246,246,0.2);
    padding-left: 1rem;
}

.nav.active[b-519zqcx6g3] {
    background-color: rgba(246,246,246,0.5);
    padding-left: 1rem;
}

.nav.remove-padding:hover[b-519zqcx6g3] {
    padding: 8px;
}
.nav.remove-padding.active[b-519zqcx6g3] {
    padding: 8px;
}
