.body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-body {
    background-image: url("background.svg");
    background-size: cover;
    flex: 1;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
}
.left-body .body{
    height:100vh;
    width: 100%;
    flex: 1;
}