@inherits LayoutComponentBase

@using My_Task_.Shared;
@using My_Task_.Client.Shared;
@inject ShowAddTask ShowAddTask;
<div class="body">
    <SideNav/>

    <main class="left-body">
        <AddTask>

       </AddTask>

       @Body     
    </main>
    
</div>



